	<ion-header-bar class="bar-dark"  align-title="left">
	<h1 class="title">微信(1)</h1>
	<div class="buttons">
		<button class="button icon ion-android-search button-clear"></button>
		<button class="button icon ion-android-add button-clear"></button>
	</div>
	</ion-header-bar>
	<ion-content class="content" on-swipe-left="OnSwipeLeft()">
		<ion-list>
			<ion-item class="item-avatar" ng-class="{'item-top':name.isTop}" 
				ng-repeat="name in names | orderBy:'isTop':true" on-hold="stayPress(name)"
				ng-click="back()"
				>
				<img ng-src="{{name.url}}" alt=""/> 
				<span class="time">{{name.time}}</span>
				 <h2>{{name.name}}</h2>
				 <p>{{name.mess}}</p>
				 <span class="circle" ng-show="name.showIn"><p ng-bind="name.member"></p></span>	
			</ion-item>
		</ion-list>
	</ion-content>

	